﻿<h1>Auditor Login</h1><br>
<h5>Users Login History</h5>
 <table class="table table-stripped" style="width:800px">
     <thead>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Login Time</th>
         <th>Logout Time</th>
         <th>Ip Address</th>
     </thead>
     <tbody  *ngFor="let user of users">
         <tr><td>{{user.firstName}}</td>
         <td>{{user.lastName}}</td>
         <td>{{user.loginTime| date:"d/M/yy h:mm a"}}</td>
         <td>{{user.logoutTime | date:"d/M/yy h:mm a"}}</td>
         <td>{{user.ipAddress}}</td></tr>
     </tbody>
 </table>
 <p><a [routerLink]="['/login']" (click)="Logout()">Logout</a></p>
